@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.97 0.00 0);
  --foreground: oklch(0.20 0.00 0);
  --card: oklch(0.99 0.00 0);
  --card-foreground: oklch(0.20 0.00 0);
  --muted: oklch(0.44 0.00 0);
}

.dark {
  --background: oklch(0.20 0.00 0);
  --foreground: oklch(0.99 0.00 0);
  --card: oklch(0.27 0.00 0);
  --card-foreground: oklch(0.99 0.00 0);
  --muted: oklch(0.72 0.00 0);
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
}

@layer base {
  * {
    font-family: var(--font-outfit);
  }
  body {
    @apply bg-background text-foreground;
  }
}
